.center {
  display: flex;
  justify-content: center;
}

.right {
 right: 100px; 
}

.editscreen {
  width: 100%;
  display: inline-flex;
}

.animator {
  border: 3px solid white;
}

#frame-panel {
  width: 1000px;
}

#frame-menu {
  padding: 3%;
  height: 120px;
  width: 500px;
  white-space: nowrap;
  overflow-x: scroll;
  transform: translateY(-5%);
}

.frame-card {
  height: 70px;
  width: 70px;
  padding: 10px;
  margin-right: 30px;
}

.toolbar {
  height: 100%;
  width: 60px;
  border: 3px solid white;
}

.tool-icon {
  height: 60px;
  width: 100px;
}

.filebar {
  height: 100%;
  width: 200px;
}

#layer-menu {
  height: 300px;
  width: 99%;
  overflow: scroll;
}

#layer-card {
  margin-bottom: 5px;
  font-size: smaller;
  display: flex;
  gap: 10px;
}

.layer-card-icon {
  width: 20px;
  height: 20px;
}

.layer-card-namefield {
  width: 100px;
  height: 20px;
  border-radius: 5px;
}

#layer-controls {
  display: inline-flex;
}


#maincanvas{
  width: 800px;
  height: 200px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: url("../illustration/images/canvas_background.png");
}

.canvas-layer{
  position: absolute;
  width: 800px;
  height: 200px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}